<div class="section">
  <div class="container">
    <div class="columns">
      <% if member_signed_in? %>
        <%= render 'profile' %>
      <% end %>
      <%= render 'timeline' %>
    </div>
  </div>
</div>
